@font-face {
    font-family: OverpassMedium;
    src: url("../fonts/Overpass-Medium.ttf");
}
html {
    margin: 0;
    padding: 0;
}
body {
    background: #EAE6CA;
}


.title_div h1 {
    text-align: center;
    font-family: OverpassMedium;
    font-size: 32px;
}

.warning_div {
    width: 430px;
    margin: 0 auto;
    background: rgba(255, 197, 49, 0.39);
    padding: 15px;
    border:2px solid rgb(203, 135, 40);
    border-radius: 10px;
}

.warning_div p {
    width: 400px;
    font-size: 14px;
    font-family: OverpassMedium;
    margin-right: auto;
    margin-left: auto;
}

#form {
    width: 900px;
    background: #fafafa;
    border-radius: 20px;
    margin: 15px auto ;
}

.form_input {
    width: 430px;
    padding: 20px;
}

.form_input1_p {
    margin: 0 0 15px 0;
    width: 300px;
    font-size: 16px;
    font-family: OverpassMedium;
    display: inline-block;
}

.pochka_text {
    margin: 0 0 15px 0;
    font-size: 16px;
    font-family: OverpassMedium;
}

.infoconc {
    position: relative;
    cursor: pointer;
}
.infoconc::before {
    cursor: pointer;
    content: url("../img/img_question.png");
}
.infoconc:hover:after {
    font-size: 12px;
    width: 300px;
    font-family: OverpassMedium;
    content:attr(data);
    position: absolute;
    left: 20px; bottom: 10px;
    z-index: 999;
    background: rgba(255,255,230,0.9);
    padding: 5px 10px;
    border: 1px solid #333;
}

.form_input label {
    display: inline-block;
    position: relative;
    width: 50px;
    height: 25px;
}

.switch_input {
    width: 0;
    height: 0;
    opacity: 0;
}

.switch_slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #c2c2c2;
    border-radius: 25px;
    transition-duration: 0.4s;
}

.switch_slider:before {
    content: "";
    position: absolute;
    cursor: pointer;
    left: 3px;
    bottom: 3px;
    height: 19px;
    width: 19px;
    background-color: #ffffff;
    border-radius: 25px;
    transition-duration: 0.4s;
}

.switch_input:focus + .switch_slider {
    box-shadow: 0 0 1px #2196f3;
}

.switch_input:checked + .switch_slider {
    background-color: #2196f3;
}

.switch_input:checked + .switch_slider:before {
    transform: translateX(25px);
    -webkit-transform: translateX(25px);
    -ms-transform: translateX(25px);
}
