@font-face {
    font-family: OverpassMedium;
    src: url("../fonts/Overpass-Medium.ttf");
}

html {
    margin: 0;
    padding: 0;
}
body {
    margin: 0;
    padding: 0;
    background: #EAE6CA;
}

.header_div p {
    margin: 0;
}

.parent_div li {
    margin-right: 5px;
    margin-left: 5px;
    display: inline-block;
    text-align: center;
    width: 170px;
    height: 220px;
    background: #fafafa;
    border-radius: 20px;
    margin-top: 20px;
}

.parent_div li:hover {
    transform: scale(1.05);
    color: #2196f3;
    transition-duration: 0.4s;
}

.parent_div{
    margin: 200px auto;
    display: flex;
    justify-content: center;
}

a {
    text-decoration: none;
    color: black;
}

.text {
    margin-top: 40px;
    display: block;
    text-align: center;
    font-family: OverpassMedium;
    font-size: 18px;
}

.schwartz_text {
    display: block;
    text-align: center;
    font-family: OverpassMedium;
    font-size: 13px;
    margin-top: 12px;
}

.ul_calcs img {
    border-radius: 100%;
    margin-top: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 1020px) {
    .parent_div ul {
        width: 600px;
    }
}

@media (min-width: 780px) and (max-width: 1020px) {
    .parent_div ul {
        width: 600px;
    }
}

@media (min-width: 450px) and (max-width: 780px){
    .parent_div ul {
        width: 400px;
    }
}

@media (max-width: 450px) {
    .parent_div ul {
        width: 200px;
    }
}

