html {
    margin: 0;
    padding: 0;
}
body {
    background: #EAE6CA;
}

.parent_div li {
    margin-right: 5px;
    margin-left: 5px;
    display: inline-block;
    width: 170px;
    height: 220px;
    background: #fafafa;
}

.parent_div li:hover {
    transform: scale(1.1);
    transition-duration: 0.4s;
}

.parent_div{
    margin-top: 200px;
    display: flex;
    justify-content: center;
}

.ul_calcs a {
    margin-top: 40px;
    display: block;
    text-align: center;
}
.ul_calcs img {
    border-radius: 100%;
    margin-top: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

