@font-face {
    font-family: OverpassMedium;
    src: url("../fonts/Overpass-Medium.ttf");
}
html {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
}

.main_div {
    background: #EAE6CA;
}

.body_div {
    width: 740px;
    margin: 0 auto;
}

.parent_div {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 120px 0 0 0;
}

.title_div h1 {
    text-align: center;
    font-family: OverpassMedium;
    font-size: 40px;
}

.error_div {
    width: 430px;
    margin: 0 auto;
    background: rgba(255, 197, 49, 0.39);
    padding: 15px;
    border:2px solid rgb(203, 135, 40);
    border-radius: 10px;
}

.error_div p {
    width: 400px;
    font-size: 14px;
    font-family: OverpassMedium;
    margin-right: auto;
    margin-left: auto;
}

.registration_form {
    width: 700px;
    background: #fafafa;
    border-radius: 20px;
    margin: 15px auto ;
    padding: 20px;
}
.form_input {
    margin-left: 50px;
    width: 600px;
    padding: 20px;
}

.form_input_label {
    display: block;
    margin: 0 0 10px 0;
    width: 450px;
    font-size: 20px;
    font-family: OverpassMedium;
}

.input {
    font-family: OverpassMedium;
    display: block;
    margin-top: 12px;
    font-size: 18px;
    padding: 8px;
    width: 300px;
    text-align: center;
    border: 1px solid #333;
    border-radius: 10px;
    background: #eeeeee;
}

.input:focus {
    border-color: #2196f3;
    outline: 0;
    box-shadow: 0 0 0 1px #2196f3;
    transition: 0.4s;
}

.input_label {
    display: block;
    margin: 0 0 10px 0;
    width: 450px;
    font-size: 20px;
    font-family: OverpassMedium;
}

.header_div p {
    margin: 0;
}

a {
    text-decoration: none;
    color: black;
}

.submit_button {
    text-align: center;
}

.submit_input_div {
    display: inline-block;
    margin-top: 35px;
    text-align: center;
}

.submit_input {
    width: 100%;
    padding: 10px;
    margin-bottom: 30px;
    border: 2px solid black;
    border-radius: 10px;
    font-family: OverpassMedium;
    font-size: 20px;
    margin-right: 2px;
}

.submit_input:hover {
    cursor: pointer;
    border: 2px solid #2196f3;
    color: #2196f3;
    transform: scale(0.98);
    transition: 0.4s;
}

.have_acc_div {
    text-align: end;
    margin-top: 10px;
}

.dont_have_acc_div p {
    display: inline;
}

.text {
    font-family: OverpassMedium;
    font-size: 18px;
}

.text:hover {
    color: #2196f3;
    transition: 0.2s;
}

select {
    width: 235px;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    box-shadow: none;
    border: solid 1px black;
    background: #fafafa;
    border-radius: 15px;
}

select::-ms-expand {
    display: none;
}

.select_div {
    position: relative;
    display: flex;
    width: 250px;
    height: 30px;
    top: 20px;
    background: #fafafa;
}

select {
    flex: 1;
    padding-left: 15px;
    cursor: pointer;
}

.select_div:after {
    content: url("../img/img_down_arrow.png");
    position: absolute;
    top: 8px;
    right: 0;
    padding-right: 15px;
    cursor: pointer;
    pointer-events: none;
    transition: 0.25s all ease;
}

.select_div select {
    font-family: OverpassMedium;
    font-size: 18px;
    padding-top: 3.5px;
}

.select_div option {
    padding: 5px;
    font-family: OverpassMedium;
    font-size: 15px;
}