@font-face {
    font-family: OverpassMedium;
    src: url("../fonts/Overpass-Medium.ttf");
}

html {
    margin: 0;
    padding: 0;
}
body {
    margin: 0;
    padding: 0;
}

.header_div p {
    margin: 0;
}

.main_div {
    background: #EAE6CA;
}

.parent_div {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 120px 0 0 0;
}

.title_div h1 {
    text-align: center;
    font-family: OverpassMedium;
    font-size: 40px;
}

.body_div {
    width: 100%;
    margin: 0 auto;
}

.rf-map,
.rf-map *{
    box-sizing: border-box;
}
.rf-map {
    position: relative;
    max-width: 980px;
    margin: auto;
    padding: 60px 60px 100px 60px;
    background: #fafafa;
    border-radius: 30px;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
}


.rf-map .district {
    width: 400px;
    display: none;
    position: absolute;
    padding-left: 20px;
    background: #fafafa;
    border-radius: 10px;
    border: 1px solid black;
    z-index: 10;
}

.text {
    font-size: 14px;
    font-family: OverpassMedium;
}

.title_region {
    font-size: 20px;
    font-family: OverpassMedium;
}

.rf-map svg {
    width: 100%;
    height: 100%;
    filter: drop-shadow(0 5px 12px rgba(0, 0, 0, 0.5));
}
.rf-map path {
    stroke: #FFFFFF;
    stroke-width: 1;
    stroke-linejoin: round;
}
.rf-map [data-code] {
    fill: #8f8f8f;
}
.rf-map [data-code]:hover {
    filter: brightness(120%);
    transition: 0.2s;
}

.parent_form_div {
    width: 700px;
    background: #fafafa;
    border-radius: 20px;
    margin: 40px auto ;
    padding: 20px;
}

.form_input {
    margin-left: 50px;
    width: 600px;
    padding: 20px;
}

.form_input_label {
    display: block;
    margin: 0 0 10px 0;
    width: 450px;
    font-size: 20px;
    font-family: OverpassMedium;
}

.input {
    font-family: OverpassMedium;
    display: block;
    margin-top: 12px;
    font-size: 18px;
    padding: 8px;
    width: 300px;
    text-align: center;
    border: 1px solid #333;
    border-radius: 10px;
    background: #eeeeee;
}

.input:focus {
    border-color: #2196f3;
    outline: 0;
    box-shadow: 0 0 0 1px #2196f3;
    transition: 0.4s;
}

.input_label {
    display: block;
    margin: 0 0 10px 0;
    width: 450px;
    font-size: 20px;
    font-family: OverpassMedium;
}

.submit_button {
    text-align: center;
}

.submit_input_div {
    display: inline-block;
    margin-top: 35px;
    text-align: center;
}

.submit_input {
    width: 100%;
    padding: 10px;
    margin-bottom: 30px;
    border: 2px solid black;
    border-radius: 10px;
    font-family: OverpassMedium;
    font-size: 20px;
    margin-right: 2px;
}

.submit_input:hover {
    cursor: pointer;
    border: 2px solid #2196f3;
    color: #2196f3;
    transform: scale(0.98);
    transition: 0.4s;
}

/* Цвета регионов */
/*.rf-map [data-code="RU-SAR"] {*/
/*    fill: #116f21;*/
/*    cursor: pointer;*/
/*}*/

/*.rf-map [data-code="RU-SAR"]:hover {*/
/*    fill: #1bad33;*/
/*}*/
