<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/grace.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
    <script src="js/grace.js"></script>
    <title>Шкала GRACE</title>
</head>
<body>
<div>
    <div class="parent_div">
        <div class="title_div">
            <p class="title_name_calculator_text">Шкала GRACE</p>
        </div>
        <div class="body_div">
            <form name="form" id="form" onsubmit="return sendForm();" method="post">
                <div class="form_input">
                    <label class="form_input_label">
                        Ваш возраст, (в годах)
                        <input type="number" name="age" class="input_number" min="0" max="200" required>
                    </label>
                </div>
                <div class="form_input">
                    <label class="form_input_label">
                        ЧСС, (в уд/мин)
                        <input type="number" name="heartRate" class="input_number" min="0" max="300" required>
                    </label>
                </div>
                <div class="form_input">
                    <label class="form_input_label">
                        Систолическое АД, (мм. рт. ст.)
                        <input type="number" name="sbp" class="input_number" min="0" max="300" step="5" required>
                    </label>
                </div>
                <div class="form_input">
                    <label class="form_input_label">
                        Креатинин, (в мкмоль/л)
                        <input type="number" name="serumCreatinine" class="input_number" min="0" max="999" required>
                    </label>
                </div>
                <div class="form_input">
                    <p class="text1">Остановка сердца</p>
                    <span class="infoconc" data="На момент поступления"></span>
                    <label class="form_input_switch_label">
                        <input type="checkbox" class="switch_input" name="heartStop" id="heartStop">
                        <span class="switch_slider"></span>
                    </label>
                </div>
                <div class="form_input">
                    <p class="text">Отклонение сегмента ST</p>
                    <label class="form_input_switch_label">
                        <input type="checkbox" class="switch_input" name="segDeviationST" id="segDeviationST">
                        <span class="switch_slider"></span>
                    </label>
                </div>
                <div class="form_input">
                    <p class="text">Высокий уровень сердечных ферментов</p>
                    <label class="form_input_switch_label">
                        <input type="checkbox" class="switch_input" name="hloce" id="hloce">
                        <span class="switch_slider"></span>
                    </label>
                </div>
                <div class="form_input">
                    <p class="text_select">Класс сердечной недостаточности (по классификации Killip)</p>
                    <div class="select_div">
                        <select name="selectValue" class="first_select">
                            <option value="20">Наличие хрипов в легких и/или повышенного давления в югулярных венах (Класс II)</option>
                            <option value="39">Наличие отека легких (Класс III)</option>
                            <option value="0">Отсутствие признаков застойной сердечной недостаточности (Класс I)</option>
                            <option value="59">Наличие кардиогенного шока (Класс IV)</option>
                        </select>
                    </div>
                </div>


                <div class="submit_button">
                    <div class="submit_input_div">
                        <input type="submit" value="Рассчитать" class="submit_input">
                    </div>
                </div>
            </form>
            <div class="result_div">
                <table class="result_table">
                    <div id="result1" class="result_div_1"></div>
                    <div id="result2" class="result_div_1"></div>
                    <div id="result3" class="result_div_1"></div>
                    <div id="result4" class="result_div_1"></div>
                </table>
            </div>
            <div class="info_calculator_div">
                <button type="button" id="InformationButton" class="information_button" data-bs-toggle="modal" data-bs-target="#info_modal">О калькуляторе</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="info_modal" >
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <p class="text">Информация о калькуляторе</p>
                <button class="btn-close" data-bs-dismiss="modal" aria-label="close"></button>
            </div>
            <div class="modal-body" id="textinfo"></div>
            <div class="modal-footer">
                <button class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>