<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="css/main.css">
    <title>Список калькуляторов</title>

</head>
<body>
<div class="parent_div">
    <ul class="ul_calcs">
        <li class="calc_apache">
            <img src="/img/img_apache.png" alt="Ошибка" title="Мышцы созданы, чтобы драться">
            <p class="text"><a href="/apache" style="text-decoration: none">Шкала APACHE II</a></p>
        </li>
        <li class="calc_grace">
            <img src="/img/img_grace.jpg" alt="Ошибка" title="Со свистом пролетело">
            <p class="text"><a href="/grace" style="text-decoration: none">Шкала GRACE</a></p>
        </li>
        <li class="calc_score">
            <img src="/img/img_score.png" alt="Ошибка" title="Мышцы созданы, чтобы драться">
            <p class="text"><a href="/" style="text-decoration: none">Шкала SCORE</a></p>
        </li>
    </ul>
</div>
</body>
</html>