<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="/css/main.css">
    <title>Главная</title>

</head>
<body>
<div th:replace="fragments/header :: header"></div>

<div class="main_div">
    <div class="parent_div">
        <div class="title_div">
            <div class="title_weblab_div">
                <p class="title_weblab_text">WebLab</p>
            </div>
            <div>
                <p class="title_text">Помощник в сфере здравоохранения</p>
            </div>
        </div>

        <div class="basic_div">
            <div class="basic_items_div">
                <div class="basic_item_statistic_div">
                    <img src="/img/statistic.png">
                    <p class="basic_items_text">Сбор данных и их представление на карте РФ</p>
                </div>
                <div class="basic_item_calculators_div">
                    <img src="/img/calculator.png">
                    <p class="basic_items_text">Сборник медицинских калькуляторов</p>
                </div>
                <div class="basic_item_develop_div">
                    <img src="/img/develop.png">
                    <p class="basic_items_text">Постоянное развитие</p>
                </div>
            </div>
        </div>

        <div class="about_statistic_parent_div">
            <div class="about_statistic_title_div">
                <p class="about_statistic_title_text">Статистика самочувствия пользователей</p>
                <img src="/img/russian_map.png">
            </div>
            <div class="about_statistic">
                <p class="about_statistic_text_1">Для кого?</p>
                <p class="about_statistic_text_2">1. Гражданам </p>
                <p class="about_statistic_text_2">2. Медицинским организациям</p>
                <p class="about_statistic_text_2">3. Государственным органам</p>
                <p class="about_statistic_text_2">4. Исследователям и социологам</p>
            </div>
        </div>

        <div class="how_statistic_work_div_parent">
            <div class="how_statistic_work_div_child">
                <h1 class="how_statistic_work_text">Как это работает?</h1>
            </div>
            <div class="about_how_statistic_work_div_child">
                <p class="about_how_statistic_work_text">Всё очень просто. Мы храним данные о вашем регионе проживания, который вы указываете на странице регистрации, а также в разделе <a href="/statistic">статистика</a> вы можете оставить свою субъективную оценку вашего самочувствия, и именно эти оценки в дальнейшем формируют среднее значение по регионам.</p>
                <p class="about_how_statistic_work_text">В дальнейшем планируется усложнить оценку самочувствия, например, внедрить какой-нибудь тест на психику, тест на выявление скрытых патологий и т. д. Все это поможет сделать оценку вашего самочувствия более точной.</p>
            </div>
        </div>

        <div class="about_calculators_parent_div">
            <div class="about_calculators_div">
                <p class="about_calculators_text1">Для кого?</p>
                <p class="about_calculators_text2">1. Врачам и медицинскому персоналу</p>
                <p class="about_calculators_text2">2. Медицинским студентам и учащимся</p>
                <p class="about_calculators_text2">3. Исследователям и учёным</p>
            </div>
            <div class="about_calculators_title_div">
                <p class="about_calculators_title_text">Медицинские калькуляторы</p>
                <div class="about_calculators_title_div_parent_div">
                    <div class="about_calculators_title_div_div1">
                        <img src="/img/white_calculator.png">
                        <p class="about_calculators_title_text2">Шкала APACHE II</p>
                    </div>
                    <div class="about_calculators_title_div_div2">
                        <img src="/img/white_calculator.png">
                        <p class="about_calculators_title_text2">Шкала GRACE</p>
                    </div>
                    <div class="about_calculators_title_div_div3">
                        <img src="/img/white_calculator.png">
                        <p class="about_calculators_title_text2">Скорость клубочковой фильтрации</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="how_calculators_work_div_parent">
            <div class="how_calculators_work_div_child">
                <h1 class="how_calculators_work_text">Как это работает?</h1>
            </div>
            <div class="about_how_calculators_work_div_child">
                <p class="about_how_calculators_work_text">Формулы для калькуляторов были взяты с открытых источников. Подробная информация о каждом калькуляторе находится непосредственно на его странице. Количество калькуляторов планируется увеличить до 12.</p>
            </div>
        </div>

        <div class="about_us_div_parent">
            <div class="about_us_title_div">
                <p class="about_us_title_text">О проекте</p>
            </div>
            <div class="about_us_div">
                <p class="about_us_text">WebLab - это не компания, это студент 4 курса Самарского Государственного Технического Университета.</p>
                <p class="about_us_text">Изначально данный проект должен был ограничиться только медицинскими калькуляторами в соответствии с заданием на практике в компании "Открытый код". Практику я проходил не один, а со своим одногруппником. Проект мы начали делать также вдвоем, однако через некоторое время мы с напарником разделились. После того как мы показали этот проект нашему руководителю практики, он нам предложил интегрировать в данный проект какую-либо аналитику. Так появилась идея создания раздела статистики.</p>
                <p class="about_us_text">Сейчас проект находится уже на завершающей стадии. Хоть и есть еще много недостатков, которые стоит исправить. Все мои изначальные цели выполнены, я научился очень многому по мере работы над этим проектом.</p>
                <p class="about_us_text">Из недостатков я бы отметил:</p>
                <p class="about_us_text_list">1. Отсутствие логирования.</p>
                <p class="about_us_text_list">2. Валидация только на уровне фронта.</p>
                <p class="about_us_text_list">3. Слишком размытое понятие "Оцените своё самочувствие по десяти бальной шкале". Интеграция какого-нибудь теста, который реально сможет оценить самочувствие пользователя, хотя бы примерно.</p>
                <p class="about_us_text_list">4. После отправки значения своего самочувствия база данных начинает пересчитывать все регионы, хотя логично было бы обновлять лишь одну запись. При высоком трафике это будет очень сильно нагружать всю систему.</p>
                <p class="about_us_text_list">5. Отсутствует адаптация фронта под разные разрешения экрана.</p>
                <p class="about_us_text">Не сомневаюсь, решение оставшихся проблем однозначно даст мне много знаний, поэтому все эти проблемы я буду исправлять по мере возможности</p>
            </div>
        </div>

    </div>
</div>

<div th:replace="fragments/footer :: footer"></div>
</body>
</html>