<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="css/main.css">
    <title>Список калькуляторов</title>

</head>
<body>
<div class="parent_div">
    <ul class="ul_calcs">
        <li class="calc_apache">
            <img src="/img/img_apache.png" alt="Ошибка">
            <a href="/">Шкала APACHE II</a>
        </li>
        <li class="calc_grace">
            <img src="/img/img_grace.jpg" alt="Ошибка">
            <a href="/">Шкала GRACE</a>
        </li>
        <li class="calc_score">
            <img src="/img/img_score.png" alt="Ошибка">
            <a href="/">Шкала SCORE</a>
        </li>
    </ul>
</div>
</body>
</html>